[submodule "deps/AllegroCPP"]
	path = deps/AllegroCPP
	url = https://www.github.com/Lohkdesgds/AllegroCPP
[submodule "deps/Lunaris/Encryption"]
	path = deps/Lunaris/Encryption
	url = https://github.com/Lohkdesgds/Lunaris-Encryption
[submodule "deps/Lunaris/EventPool"]
	path = deps/Lunaris/EventPool
	url = https://github.com/LunarisLib/Lunaris-Event-Pool
