[submodule "Lunaris/Socket"]
	path = Lunaris/Socket
	url = https://github.com/Lohkdesgds/Lunaris-Socket
[submodule "Lunaris/Console"]
	path = Lunaris/Console
	url = https://github.com/Lohkdesgds/Lunaris-Console
